/* Import de la font family Lato de google font */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* import de la font family Raleway avec @font-face  */

@font-face{
    font-family: "Raleway";
    src: url('Assets\fonts assets\Raleway\Raleway-VariableFont_wght.ttf') format('truetype');
    src: url('Assets\fonts assets\Raleway\Raleway-VariableFont_wght.woff');
}
